<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="home_blank :: head"></th:block>
<title>Subscriptions</title>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <th:block th:insert="home_blank :: body"> </th:block>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="text-center">My Vendors</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table" id="myVendors">
                                <thead>
                                <th class="text-center">Vendor ID</th>
                                <th class="text-center">Vendor Name</th>
                                </thead>
                                <tbody>
                                <tr th:each="myVendor: ${listSubscriptions}">
                                    <td class="text-center" th:text="${myVendor.id}">Vendor ID</td>
                                    <td class="text-center" th:text="${myVendor.vendorName}">Vendor Name</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="box box-primary">
                    <div class="table-responsive">
                        <div class="box-header with-border">
                            <h3 class="text-center">My Products</h3>
                        </div>
                        <div class="box-body">
                            <table class="table" id="myProducts">
                                <thead>
                                <th class="text-center">Product ID</th>
                                <th class="text-center">Product Name</th>
                                </thead>
                                <tbody>
                                <tr th:each="myProduct: ${listProductSubs}">
                                    <td class="text-center" th:text="${myProduct.id}">Product ID</td>
                                    <td class="text-center" th:text="${myProduct.productName}">Product Name</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-1.12.4.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"> </script>
</body>
</html>