<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="home_blank :: head"></th:block>
<title>Blog</title>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <th:block th:insert="home_blank :: body"> </th:block>
        <section class="content-header">
            <h1>Blog</h1>
            <ol class="breadcrumb">
                <li><a href="/">CVE</a></li>
                <li class="active">Blog</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-7">
                    <div class="box box-primary">
                        <div class="box-body">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h2 th:text="${blogDO.get().title}"></h2>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <p th:text="${blogDO.get().content}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2021</strong>
    </footer>

</div>

<script th:src="@{/js/jquery-1.12.4.min.js}" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"> </script>
</body>
</html>
