<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="home_blank :: head"></th:block>
<title>Vulnerabilities (CVE)</title>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <th:block th:insert="home_blank :: body"> </th:block>
        <section class="content-header">
            <h1>Vulnerabilities (CVE)</h1>
            <ol class="breadcrumb">
                <li><a href="/">CVE</a></li>
                <li class="active">Vulnerabilities (CVE)</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-7">
                    <div class="breadcrumb">
                        <div class="box-header">
                            <h3 class="box-title">CVSS v3 Filter</h3>
                        </div>
                        <div class="btn-group">
                            <div class="box-body">
                                <a class="btn btn-default btn-primary btn-sm"
                                   href="/cve">ALL</a>
                                <a class="btn btn-default btn-sm"
                                   href="/cve?cvss=none"
                                   type="button">NONE (0.0)</a>
                                <a class="btn btn-default btn-sm"
                                   href="/cve?cvss=low"
                                   type="button">LOW (0.1 - 3.9)</a>
                                <a class="btn btn-default btn-sm"
                                   href="/cve?cvss=medium"
                                   type="button">MEDIUM (4.0 - 6.9)</a>
                                <a class="btn btn-default btn-sm"
                                   href="/cve?cvss=high"
                                   type="button">HIGH (7.0 - 8.9)</a>
                                <a class="btn btn-default btn-sm"
                                   href="/cve?cvss=critical"
                                   type="button">CRITICAL (9.0 - 10.0)</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="breadcrumb">
                        <div class="box-header">
                            <h3 class="box-title">Search</h3>
                        </div>
                        <div class="box-body">
                            <form method="GET">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary btn-md" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                    <input type="text" placeholder="Search in CVE description" class="form-control" name="search"
                                           value="">
                                </div>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="breadcrumb">
                        <span class="info-box-icon bg-dark" style="float: left; margin-top: 10px;"><i class="fa fa-shield fa-5x"></i></span>
                        <h5>&emsp;TOTAL</h5>
                        <h5 ><strong th:text="'&emsp;' + ${totalItems}"></strong></h5>
                        <h5><strong>&emsp;CVE</strong></h5>
                        <br>
                    </div>
                </div>
            </div>

            <div class="row">
                  <div class='col-md-12'>
                      <div class="box box-primary">
                          <div class="box-body table-responsive no-padding">
                              <table class="table" id="cves">
                                  <thead>
                                      <th>CVE</th>
                                      <!--<th>Vendors</th>
                                      <th>Products</th>-->
                                      <th>Published Date</th>
                                      <th>Updated Date</th>
                                      <th>CVSS V2</th>
                                      <th>CVSS V3</th>
                                  </thead>
                                  <tbody>
                                  <th:block th:each="cve: ${listCVEs}">
                                    <tr>
                                        <td class="font-weight-bold"><a th:href="@{'https://nvd.nist.gov/vuln/detail/'+${cve.cveid}}" th:text="${cve.cveid}"></a></td>

                                      <!--  <td th:text="Products">Vendors</td>

                                        <td th:each="products, index: ${listProducts}" th:if="${products.cveName == cve.cveid}" th:text="${index.count}">Products</td>

                                      -->  <td th:text="${cve.publishedDate}">Published Date</td>

                                        <td th:text="${cve.lastModifiedDate}">Updated Date</td>

                                        <div th:if="${cve.cvssv2BaseScore >= 0.1 and 3.9 >= cve.cvssv2BaseScore}">
                                            <td class="p-3 mb-2 bg-success text-white" th:text="${cve.cvssv2BaseScore + ' ' + cve.cvssv2Severity}">CVSS V2</td>
                                        </div>
                                        <div th:if="${cve.cvssv2BaseScore >= 4.0 and 6.9 >= cve.cvssv2BaseScore}">
                                            <td class="p-3 mb-2 bg-info text-dark" th:text="${cve.cvssv2BaseScore + ' ' + cve.cvssv2Severity}">CVSS V2</td>
                                        </div>
                                        <div th:if="${cve.cvssv2BaseScore >= 7.0 and 8.9 >= cve.cvssv2BaseScore}">
                                            <td class="p-3 mb-2 bg-warning text-white" th:text="${cve.cvssv2BaseScore + ' ' + cve.cvssv2Severity}">CVSS V2</td>
                                        </div>
                                        <div th:if="${cve.cvssv2BaseScore >= 9.0 and 10.0 >= cve.cvssv2BaseScore}">
                                            <td class="p-3 mb-2 bg-danger text-white" th:text="${cve.cvssv2BaseScore + ' ' + cve.cvssv2Severity}">CVSS V2</td>
                                        </div>

                                        <div th:if="${cve.cvssv3BaseScore >= 0.1 and 3.9 >= cve.cvssv3BaseScore}">
                                            <td class="p-3 mb-2 bg-success text-white" th:text="${cve.cvssv3BaseScore + ' ' + cve.cvssv3Severity}">CVSS V3</td>
                                        </div>
                                        <div th:if="${cve.cvssv3BaseScore >= 4.0 and 6.9 >= cve.cvssv3BaseScore}">
                                            <td class="p-3 mb-2 bg-info text-dark" th:text="${cve.cvssv3BaseScore + ' ' + cve.cvssv3Severity}">CVSS V3</td>
                                        </div>
                                        <div th:if="${cve.cvssv3BaseScore >= 7.0 and 8.9 >= cve.cvssv3BaseScore}">
                                            <td class="p-3 mb-2 bg-warning text-white" th:text="${cve.cvssv3BaseScore + ' ' + cve.cvssv3Severity}">CVSS V3</td>
                                        </div>
                                        <div th:if="${cve.cvssv3BaseScore >= 9.0 and 10.0 >= cve.cvssv3BaseScore}">
                                            <td class="p-3 mb-2 bg-danger text-white" th:text="${cve.cvssv3BaseScore + ' ' + cve.cvssv3Severity}">CVSS V3</td>
                                        </div>
                                    </tr>
                                    <tr> <td style="border:none" class="text-left" colspan="6" th:text="${cve.description}">Description</td> </tr>
                                  </th:block>
                                  </tbody>
                              </table>
                              <div class="center">
                                  <ul class="pagination">
                                      <li class="previous">
                                          <th:block th:if="${currentPage > 1}">
                                              <a th:href="@{'/cve/'+${currentPage-1}}"> &laquo; </a>
                                          </th:block>
                                      </li>
                                      <li class="active">
                                          <th:block th:if="${totalPages >= currentPage}">
                                              <a th:href="@{'/cve/'+${currentPage}}" th:text="${currentPage}"></a>
                                          </th:block>
                                      </li><li>
                                      <th:block th:if="${totalPages-3 > currentPage}">
                                          <a th:href="@{'/cve/'+${currentPage+1}}" th:text="${currentPage+1}"></a>
                                      </th:block></li><li>
                                      <th:block th:if="${totalPages-3 > currentPage}">
                                          <a th:href="@{'/cve/'+${currentPage+2}}" th:text="${currentPage+2}"></a>
                                      </th:block></li><li>
                                      <th:block th:if="${totalPages-3 > currentPage}">
                                          <a th:href="@{'/cve/'+${currentPage+3}}" th:text="${currentPage+3}"></a>
                                      </th:block></li><li>
                                      <th:block th:if="${totalPages-3 > currentPage}">
                                          <a th:href="@{'/cve/'+${currentPage+4}}" th:text="${currentPage+4}"></a>
                                      </th:block></li><li class="disabled"><a>...</a></li><li><a th:href="@{'/cve/'+${totalPages}}" th:text="${totalPages}"></a></li>
                                      <li class="next">
                                          <th:block th:if="${currentPage != totalPages}">
                                              <a th:href="@{'/cve/'+${currentPage+1}}">&raquo;</a>
                                          </th:block>
                                      </li></ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </section>
    </div>
</div>

</div>
<script th:src="@{/js/jquery-1.12.4.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"> </script>
</body>
</html>