<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="home_blank :: head"></th:block>
<title>Categories (CWE)</title>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <th:block th:insert="home_blank :: body"> </th:block>
        <section class="content-header">
            <h1>Categories (CWE)</h1>
            <ol class="breadcrumb">
                <li><a href="/">OpenCVE</a></li>
                <li class="active">Categories (CWE)</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-7">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Search</h3>
                        </div>
                        <div class="box-body">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">
                          <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                          </span>
                                            <form method="GET">
                                                <input type="text" placeholder="Search" class="form-control" name="search"
                                                       value="">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Categories (CWE)</h3>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover table-striped">

                            </table>
                            <div class="center">
                                <ul class="pagination"><li class="previous disabled unavailable"><a> &laquo; </a></li><li class="active"><a>1</a></li><li><a href="/cwe?page=2">2</a></li><li><a href="/cwe?page=3">3</a></li><li><a href="/cwe?page=4">4</a></li><li><a href="/cwe?page=5">5</a></li><li class="disabled"><a>...</a></li><li><a href="/cwe?page=64">64</a></li><li><a href="/cwe?page=65">65</a></li><li class="next"><a href="/cwe?page=2">&raquo;</a></li></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2021</strong>
    </footer>

</div>

<script th:src="@{/js/jquery-1.12.4.min.js}" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"> </script>
</body>
</html>
